// Auth
.authSection {
    min-width: 1000px;
    background-color: red($color: #000000);
}


// Login
.loginSection {
    background-color: rgb(28, 101, 196);

    .login {
        display: flex;
        margin: 10px;

        span {
            margin: 15px !important;

            label {
                color: black;
            }
        }

    }
}

// Register
.calender {
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid darkgrey
}