.createEvent {
    text-align: center !important;
    margin: auto !important;

    form {
        max-width: 400px;
        margin: auto !important;
    }
}

.p-float-label {
    display: flex;
}

.MuiFormControl-root {
    width: 100% !important;
}

.google-places-autocomplete {
    all: unset;
    color: #000000de;
    cursor: pointer;
    display: inline-flex;
    float: left;
    position: relative;
    left: -15px;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
    width: 100% !important;
    margin: 15px;
    border-bottom: 1px solid grey;

    input {
        all: unset;
        float: left;
    }
}